.chat-box{
    height: 100%;
    position: relative;
    background-color: #f1f5ff;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;   
    overflow: hidden;
}

.chat-user{
    display: flex;
    padding: 10px 15px;
    align-items: center;
    gap: 10px; 
    border-bottom: 1px solid #c6c6c6;
}

.chat-user img{
    width: 25px;
    border-radius: 50%;
}

.chat-user img:first-child{
    width: 38px;
    aspect-ratio: 1/1;
}

.chat-user p{
    flex: 1;
    font-weight: 500;
    font-size: 20px;
    color:#393939;
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat-input{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 15px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.chat-input img{
    width: 30px;
    cursor: pointer;
}

.chat-input label{
    display: flex;
}

.chat-input label img{
    width: 22px;
}

.chat-input input{
    flex: 1;
    border: none;
    outline: none;
}

.chat-msg{
    flex: 1;
    padding-bottom: 50px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.s-msg div img, .r-msg img{
    width: 27px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.s-msg, .r-msg{
    display: flex;
    align-items: end;
    gap: 5px;
    padding: 0px 15px;
}

.s-msg{
    justify-content: flex-end;
}

.r-msg{
    justify-content: flex-start;
}

.msg{
    color: white;
    background-color: #077eff;
    padding: 8px;
    max-width: 200px;
    font-size: 11px;
    font-weight: 300;
    border-radius: 8px 8px 0px 8px;
    margin: 30px;
}

.r-msg .msg{
    border-radius: 8px 8px 8px 0px;
}

.s-msg div, .r-msg div{
    text-align: center;
    font-size: 9px;
}

.msg-img{
    max-width: 230px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.chat-welcome{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.chat-welcome img{
    width: 60px;
}

.chat-welcome p{
    font-size: 20px;
    font-weight: 500;
    color: #383838;
}

/* 🔥 FIX START */

.chat-user .arrow{
    display: block;   /* ✅ always show arrow */
}

.chat-user .help{
    display: none;    /* ✅ hide info icon */
}

/* 🔥 FIX END */

@media (max-width: 900px) {
    .chat-box{
        width:100%;
        justify-content: center;
    }
}